@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #F5F5F5;
    font-family: 'Manrope', sans-serif;
}

.big_container{
    display: grid;
    grid-template-columns:16% 84%
}
/* SIDE NAVBAR STARTED */
.side_navbar{
    position: absolute;
    top: 0;
    background-color: white;
    width: 14rem;
    height: 124vh;
    margin-left: 0;
}
.brand{
    margin-left: 3rem;
    margin-top: 3rem;
}
.side_navbar ul{
    padding: 0;
}
.left_link{
text-decoration: none;
color: black;
display: flex;
justify-content: start;
gap: 1rem;
width: 14rem;
padding-left: 2rem;



}
.left_link:hover{
    background-color: #080FC9;
padding-left: 4rem;
color: WHITE;

}
.left_list{
    list-style-type: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.left_navbar_icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1.2rem;
}
.log_out{
    margin-top: 18rem;
}

/*  SIDE NAVBAR ENDED*/

/* MAIN SIDE STARTED */

.top{
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 15rem;
    height: 8%;
    margin-left: 15rem;
   
}
.con {
    width:12rem;
     position:relative; 
     
   }
.con input {
    width:30vw;
    margin-left:1rem; 
    border-radius:0.4rem;
    border: 1px solid gray;
    padding: 1rem;
    margin-top: 1rem;
    }
    .con input::placeholder{
        padding-left: 3rem;
        font-size: 18px;
        
    }
.con img { 
   display:block; 
   position:absolute;
    top:1.7rem; 
    left:2rem; 
    cursor:pointer;
}




.user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11.5rem;
}



#user_arrow{
    height: 7%;
    margin: 2.5rem 20px 2rem;
}

:nth-child(2).user_text{
    margin: 0;
    color: #8E8E8E;
    font-size: 14px;
}

:nth-child(1).user_text{
    margin: 0;
    font-size: 14px;
}

#user_pic{
    width: 2rem;
    margin: 0 20px 0 ;
}

.user_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 170px;
    font-size: 14px;
}

.dropdown:hover .dropdown-content{
    display: block;
}


.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown-content a{
    text-align: left;
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: #000;
    float: none;
  }

/* top ended */

/* main started */
.main_content{
    width: 72vw;
    
    margin-left: 18rem;
}

.white_aside_wrap{
    display: flex;
    
}



.white_rectangle{
    background-color: #fff;
    width: 68vw;
    padding: 2rem;
    text-align: center;
}

.main_p{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 2rem;
}

#blue_p{
    color: #080FC9;
    text-decoration: none;
}

.capital_text{
    letter-spacing: 4px;
    opacity: 0.8;
    font-weight: 500;
    font-size: 18px;
}

.grey_capital{
    opacity: 0.5;
    font-weight: 500;
}
.break_line_rectangle{
    border-radius: 20px;
    border: 2px dashed #818080;
    padding: 5rem 0 2rem;
}

/* .break_line_rectangle img{
    
} */
.social_media_link, .social_media_list{
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-left: 18px;
    opacity: 0.9;
    
}
/* Aside started */
aside{
    padding: 5rem 0 2rem 2rem;
}

.social_img{
    width: 12%;
    height: 15%;
    margin:0 10px 0 0px;
    
}


.google_img{
    width: 10%;
    height: 15px;
    margin-right: 10px;
    
}


.social_media_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.aside_text{
    font-size: 16px;
    font-weight: 500;
}


.aside_input{
    padding: 12px 15px;
    width: 18vw;
    border-radius: 8px;
    font-size: 20px;
    border: 1px solid #555555;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.aside_content{
    margin-bottom: 0;
}

.chunk_btn{
    border: none;
    border-radius: 8px;
    background-color: #8E8E8E;
    padding: 16px 7rem;
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    margin: 4rem 15rem;
}
.chunk_btn:hover{
background-color: #080FC9;
}


.meter { 
    height: 10px;
    position: relative;
    background: #d8d7d5;
    overflow: hidden;
    width: 60%;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.meter span {
    display: block;
    height: 100%;
}

#progress {
    background-color: #5BE060;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}



@media(max-width:1024px){
    body{
        font-size: 19px;
    }

    .brand_img{
        margin: 20px;
    }


    .log_out{
        margin: 24rem 0 8rem;
    }

    .big_container{
        grid-template-columns:20% 80%
    }

    .search_btn {
        margin: 8px 0 8px 4rem;
        width: 40%;
    }

    .search_text{
        font-size: 19px;
        margin-left: 15px;
    }

    .user{
        margin-left: 4rem;
    }

    .user_arrow{
        height: 10%;
        margin: 2.5rem 20px 2rem;
    }

    .dropdown-content a{
        padding: 0;
      }

    .main_content{
        margin: 4rem 0rem 4rem 4.5rem ;
    }
    .social_media_link, .social_media_list{
        font-size: 14px;
        margin-left: 7px;
        
    }

    .google_img{
        width: 8%;
        height: 13px;
        margin-right: 8px;
        
    }

    .social_img{
        width: 12%;
        height: 15%;
        margin:0 8px 0 0px;
    }

    .google{
        margin-left: 0;
    }

    .chunk_btn{
        padding: 16px 7rem;
        font-size: 24px;
        font-weight: 600;
        margin: 4rem 6rem 0;
    }

    .aside_text{
        font-size: 19px;
        font-weight: 500;
    }
    
    
    .aside_input{
        padding: 12px 5px 12px 5px;
        width: 95%;
        border-radius: 8px;
        font-size: 19px;
        border: 1px solid #555555;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    aside{
        padding: 7rem 0 2rem 2rem;
    }

}

@media(max-width: 768px){
    body{
        font-size: 16px;
    }

}


  
